<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'devise/registrations/partials/personal_info', f: f  %>

  <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", 'tab-index': 6 %>
  </div>

  <div class="btn-group-vertical full-width">
    <%= f.submit "Update", class: "btn btn-success", 'tab-index': 7 %>
  </div>
<% end %>

<div class="btn-group-vertical full-width">
  <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-dark", 'tab-index': 8 %>
  <%= link_to "Back", :back, class: "btn btn-outline-dark", 'tab-index': 9 %>
</div>
