<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render 'devise/registrations/partials/personal_info', f: f  %>

  <div class="btn-group-vertical full-width">
    <%= f.submit "Sign up", class: "btn btn-success", 'tab-index': 6 %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


