<%= form_with(model: location_datum, local: true) do |form| %>
  <% if location_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location_datum.errors.count, "error") %> prohibited this location_datum from being saved:</h2>

      <ul>
        <% location_datum.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :postcode_id %>
    <%= form.text_field :postcode_id %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :altitude %>
    <%= form.text_field :altitude %>
  </div>

  <div class="field">
    <%= form.label :easting %>
    <%= form.text_field :easting %>
  </div>

  <div class="field">
    <%= form.label :northing %>
    <%= form.text_field :northing %>
  </div>

  <div class="field">
    <%= form.label :grid_ref %>
    <%= form.text_field :grid_ref %>
  </div>

  <div class="field">
    <%= form.label :plus_code %>
    <%= form.text_field :plus_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
