<p id="notice"><%= notice %></p>

<h1>Location Data</h1>

<table>
  <thead>
    <tr>
      <th>Postcode</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Altitude</th>
      <th>Easting</th>
      <th>Northing</th>
      <th>Grid ref</th>
      <th>Plus code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @location_data.each do |location_datum| %>
      <tr>
        <td><%= location_datum.postcode_id %></td>
        <td><%= location_datum.latitude %></td>
        <td><%= location_datum.longitude %></td>
        <td><%= location_datum.altitude %></td>
        <td><%= location_datum.easting %></td>
        <td><%= location_datum.northing %></td>
        <td><%= location_datum.grid_ref %></td>
        <td><%= location_datum.plus_code %></td>
        <td><%= link_to 'Show', location_datum %></td>
        <td><%= link_to 'Edit', edit_location_datum_path(location_datum) %></td>
        <td><%= link_to 'Destroy', location_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location Datum', new_location_datum_path %>
