<p id="notice"><%= notice %></p>

<p>
  <strong>Postcode:</strong>
  <%= @location_datum.postcode_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location_datum.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location_datum.longitude %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @location_datum.altitude %>
</p>

<p>
  <strong>Easting:</strong>
  <%= @location_datum.easting %>
</p>

<p>
  <strong>Northing:</strong>
  <%= @location_datum.northing %>
</p>

<p>
  <strong>Grid ref:</strong>
  <%= @location_datum.grid_ref %>
</p>

<p>
  <strong>Plus code:</strong>
  <%= @location_datum.plus_code %>
</p>

<%= link_to 'Edit', edit_location_datum_path(@location_datum) %> |
<%= link_to 'Back', location_data_path %>
