<%= form_with(model: lower_layer_output_area, local: true) do |form| %>
  <% if lower_layer_output_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lower_layer_output_area.errors.count, "error") %> prohibited this lower_layer_output_area from being saved:</h2>

      <ul>
        <% lower_layer_output_area.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lower_layer_output_area %>
    <%= form.text_field :lower_layer_output_area %>
  </div>

  <div class="field">
    <%= form.label :lsoa_code %>
    <%= form.text_field :lsoa_code %>
  </div>

  <div class="field">
    <%= form.label :middle_layer_output_area_id %>
    <%= form.text_field :middle_layer_output_area_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
