<h1>Editing Lower Layer Output Area</h1>

<%= render 'form', lower_layer_output_area: @lower_layer_output_area %>

<%= link_to 'Show', @lower_layer_output_area %> |
<%= link_to 'Back', lower_layer_output_areas_path %>
