<p id="notice"><%= notice %></p>

<h1>Lower Layer Output Areas</h1>

<table>
  <thead>
    <tr>
      <th>Lower layer output area</th>
      <th>Lsoa code</th>
      <th>Middle layer output area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lower_layer_output_areas.each do |lower_layer_output_area| %>
      <tr>
        <td><%= lower_layer_output_area.lower_layer_output_area %></td>
        <td><%= lower_layer_output_area.lsoa_code %></td>
        <td><%= lower_layer_output_area.middle_layer_output_area_id %></td>
        <td><%= link_to 'Show', lower_layer_output_area %></td>
        <td><%= link_to 'Edit', edit_lower_layer_output_area_path(lower_layer_output_area) %></td>
        <td><%= link_to 'Destroy', lower_layer_output_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

