.btn-main {
  background: $button-main-action;
  background: $button-main-action-gradient;
  border: 2px $button-main-action solid;
  opacity: 1;
}

div .btn-main {
  color: white;
}

.btn-main:hover {
  opacity: 0.6;
}

div .btn-main:hover {
  color: $button-main-hover-color;
}

.btn-secondary {
  background: $background-color-secondary;
  background: $background-color-secondary-gradient;
}

.btn-secondary:hover {
  background: $button-main-action;
  background: $button-main-action-gradient;
}
