.pos-rel {
  position: relative;
}

.navbar-general {
  background: $background-color-secondary;
  background: $background-color-secondary-gradient;
  padding-right: 0 !important;
  min-height: 100vh;
  position: fixed;
}

nav ul .navbar-brand {
  padding-top: 15px;
  padding-left: 15px;
}

.navbar-elements {
  margin-top: 35px;
}
.navbar-each-element {
  border-bottom: solid 2px $grey-element-color;
  padding-top: 15px ;
  padding-bottom: 15px;
  color: $grey-element-color;
}

.navbar-each-element:hover {
  background: $button-main-hover-color;
  background: $button-main-hover-gradient;
  border-bottom: solid 2px $red-element-color;
  color: $red-element-color;
}

.navbar-each-element a,
.navbar-brand a {
  padding-top:0;
  padding-bottom: 0;
  padding-left: 15px;
  text-decoration: none;
  color: $grey-element-color;
}

.navbar-each-element a:hover {
  padding-left: 15px;
  text-decoration: none;
  color: $red-element-color;
}

.navbar-brand a:hover {
  color: $grey-element-color;
  text-decoration: none;
}

.nav-item-padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* SVG SIDEBAR STYLING */

li a span {
  float: right;
}

li a span i {
  margin-right: 5px;
  color: $red-element-color;
}

svg {
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 15px;
}

svg path {
  fill: $grey-element-color;
}

.navbar-each-element:hover  path {
  fill: #a81c1c;
}
/* END SVG SIDEBAR STYLING */

