/* Standards */
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body .container {
  position: relative;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Coda Caption;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-family: Arvo;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

.nav-item a {
  font-family: Coda Caption;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.nav-item a span i {
  font-family: Coda Caption;
  font-size: 21px;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
}

p {
  font-family: Arvo;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: Arvo;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Arvo;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5667px;
}

/* END standards */

