<%= form_with(model: middle_layer_output_area, local: true) do |form| %>
  <% if middle_layer_output_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(middle_layer_output_area.errors.count, "error") %> prohibited this middle_layer_output_area from being saved:</h2>

      <ul>
        <% middle_layer_output_area.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :middle_layer_output_area %>
    <%= form.text_field :middle_layer_output_area %>
  </div>

  <div class="field">
    <%= form.label :msoa_code %>
    <%= form.text_field :msoa_code %>
  </div>

  <div class="field">
    <%= form.label :ward_id %>
    <%= form.text_field :ward_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
