<h1>Editing Middle Layer Output Area</h1>

<%= render 'form', middle_layer_output_area: @middle_layer_output_area %>

<%= link_to 'Show', @middle_layer_output_area %> |
<%= link_to 'Back', middle_layer_output_areas_path %>
