<%= link_to 'Back', :back, class: "btn btn-outline-dark full-width mb-4" %>

<h1>Middle Layer Output Areas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Middle layer output area</th>
      <th>Msoa code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @middle_layer_output_areas.each do |middle_layer_output_area| %>
      <tr>
        <td><%= middle_layer_output_area.middle_layer_output_area %></td>
        <td><%= middle_layer_output_area.msoa_code %></td>
        <td><%= link_to 'Explore', middle_layer_output_area, class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

