<%= link_to 'Back', :back, class: "btn btn-outline-dark full-width mb-4" %>

<div class="jumbotron">
  <h1><%= @mloa.middle_layer_output_area %></h1>
  <div class="row no-bullet-points">
    <div class="col-6">
      <ul>
        <li>Crime: 15%</li>
        <li>Population: 15 000</li>
        <li>Unemployment: 4.3%</li><br>
        <li>Average IMD: 4367</li>
        <li>Mean IMD: 5500</li><br>
        <li>Average salary: 25 000</li>
        <li>Mean salary: 23 000</li><br>
        <li>Average age: 45</li>
        <li>Mean age: 35</li>
      </ul>
    </div>
    <div class="col-6">
      <ul>
        <li>Train stations 230</li>
        <li>Hospitals 60</li>
        <li>Universites 63</li><br>
        <li>Average Houseprice: 120 000</li>
        <li>Average Rental (HMO): 95</li>
      </ul>
    </div>
  </div>
</div>

<h2>Lower Layer Output Areas in <%= @mloa.middle_layer_output_area %></h2>
  <p>There are <%= @lloas.count %> Lower Layer Output Areas (LLOA) in <%= @mloa.middle_layer_output_area %>.</p>
<% @lloas.each do |lloa| %>
<div class="accordion" id="accordionLloa">
  <div class="card">
    <div class="card-header" id="headingLloa-<%= lloa.id %>">
      <h2 class="mb-0">
        <div class="btn-group full-width">
          <div class="row full-width">
            <button class="btn btn-outline-info col-8 text-left" type="button" data-toggle="collapse" data-target="#collapse<%= lloa.id %>" aria-expanded="true" aria-controls="collapse<%= lloa.id %>">
              <span class="badge badge-info float-left mt-1"><%= lloa.lsoa_code %></span><span class="ml-2"><%= lloa.lower_layer_output_area %></span>
            </button>
            <%= link_to "Explore", lloa, class: "btn btn-main col-4" %>
        </div>
      </h2>
    </div>

    <div id="collapse<%= lloa.id %>" class="collapse" aria-labelledby="headingLloa-<%= lloa.id %>" data-parent="#accordionLloa">
      <div class="card-body">
        <p><%= lloa.lower_layer_output_area %> has <%= lloa.postcodes.count %> Postcodes. Population in <%= lloa.lower_layer_output_area %> is: POPULATION. Average rental price for a HMO bedroom is: 88 and average houseprice is: 95 000.</p>
        <div class="card-subtitle border-bottom-dark mt-2">
          Postcodes
        </div>
        <div class="">
          <% lloa.postcodes.each do |pc| %>
              <%= link_to pc.postcode, postcode_path(pc.id), class: "badge badge-info" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
<% end %>


