<tr class="border-bottom">
  <th scope="row"><%= user_row.id %></th>
  <td><%= link_to user_row.first_name, user_path(user_row.id) %></td>
  <td><%= user_row.last_name %></td>
  <td>
    <% if current_user.id != user_row.id %>
      <div class="btn-group">
        <% if current_user_following(user_row.id) == true %>
          <%= link_to "Unfollow", follow_path(user_row.id), method: :delete, class: "btn btn-light full-width" %>
        <% else %>
          <%= link_to "Follow", follow_index_path(id: user_row.id), method: :post, class: "btn btn-info full-width" %>
        <% end %>
      </div>
    <% end %>
  </td>
</tr>
