<table class="mt-5 table table-striped table-bordered table-hover full-width">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col"></th>
    </tr>
  </thead>
