<div>
  <h3>Main import</h3>
  <p>This is initial import of Postcodes, Districts, Wards, ect. It takes forever. Do not do this one lightly.</p>
  <P>THIS SI BROKEN - Change Route</P>

  <%= form_tag import_countries_path, multipart: true, class: "form-inline" do %>

    <div class="form-group">
      <%= file_field_tag :file, class: "form-control-file" %>
    </div>
    <%= submit_tag "Import Areas" %>
  <% end %>
</div>


<div class="mt-5">
  <h3>Postcode import</h3>
  <p>This is an import of Postcodes and Locationdata. Can take forever, use carefully.</p>

  <%= form_tag import_postcodes_path, multipart: true, class: "form-inline" do %>

    <div class="form-group">
      <%= file_field_tag :file, class: "form-control-file" %>
    </div>
    <%= submit_tag "Import Postcodes" %>
  <% end %>
</div>
