<%= form_with(model: district_postcode, local: true) do |form| %>
  <% if district_postcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(district_postcode.errors.count, "error") %> prohibited this district_postcode from being saved:</h2>

      <ul>
        <% district_postcode.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :district_postcode %>
    <%= form.text_field :district_postcode %>
  </div>

  <div class="field">
    <%= form.label :district_id %>
    <%= form.text_field :district_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
