<p id="notice"><%= notice %></p>

<h1>District Postcodes</h1>

<table>
  <thead>
    <tr>
      <th>District postcode</th>
      <th>District</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @district_postcodes.each do |district_postcode| %>
      <tr>
        <td><%= district_postcode.district_postcode %></td>
        <td><%= district_postcode.district_id %></td>
        <td><%= link_to 'Show', district_postcode %></td>
        <td><%= link_to 'Edit', edit_district_postcode_path(district_postcode) %></td>
        <td><%= link_to 'Destroy', district_postcode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New District Postcode', new_district_postcode_path %>
