<p id="notice"><%= notice %></p>

<p>
  <strong>District postcode:</strong>
  <%= @district_postcode.district_postcode %>
</p>

<p>
  <strong>District:</strong>
  <%= @district_postcode.district_id %>
</p>

<%= link_to 'Edit', edit_district_postcode_path(@district_postcode) %> |
<%= link_to 'Back', district_postcodes_path %>
