<%= form_with(model: economic, local: true) do |form| %>
  <% if economic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(economic.errors.count, "error") %> prohibited this economic from being saved:</h2>

      <ul>
        <% economic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lower_layer_output_area_id %>
    <%= form.text_field :lower_layer_output_area_id %>
  </div>

  <div class="field">
    <%= form.label :index_of_multiple_deprivation %>
    <%= form.text_field :index_of_multiple_deprivation %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
