<p id="notice"><%= notice %></p>

<h1>Economics</h1>

<table>
  <thead>
    <tr>
      <th>Lower layer output area</th>
      <th>Index of multiple deprivation</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @economics.each do |economic| %>
      <tr>
        <td><%= economic.lower_layer_output_area_id %></td>
        <td><%= economic.index_of_multiple_deprivation %></td>
        <td><%= economic.year %></td>
        <td><%= link_to 'Show', economic %></td>
        <td><%= link_to 'Edit', edit_economic_path(economic) %></td>
        <td><%= link_to 'Destroy', economic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


