<p id="notice"><%= notice %></p>

<p>
  <strong>Lower layer output area:</strong>
  <%= @economic.lower_layer_output_area_id %>
</p>

<p>
  <strong>Index of multiple deprivation:</strong>
  <%= @economic.index_of_multiple_deprivation %>
</p>

<p>
  <strong>Year:</strong>
  <%= @economic.year %>
</p>

<%= link_to 'Edit', edit_economic_path(@economic) %> |
<%= link_to 'Back', economics_path %>
