<h1>Districts</h1>

<table class="table">
  <thead>
    <tr>
      <th>District code</th>
      <th>District</th>
      <th>Wards</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= district.district_code %></td>
        <td><%= district.district %></td>
        <td><%= district.wards.count %></td>
        <td><%= link_to 'Explore', district, class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
