<%= link_to 'Back', :back, class: "btn btn-outline-dark full-width mb-4" %>

<div class="jumbotron">
  <h1><%= @district.district %></h1>
  <div class="row no-bullet-points">
    <div class="col-6">
      <ul>
        <li>Crime: 15%</li>
        <li>Population: 15 000</li>
        <li>Unemployment: 4.3%</li><br>
        <li>Average IMD: 4367</li>
        <li>Mean IMD: 5500</li><br>
        <li>Average salary: 25 000</li>
        <li>Mean salary: 23 000</li><br>
        <li>Average age: 45</li>
        <li>Mean age: 35</li>
      </ul>
    </div>
    <div class="col-6">
      <ul>
        <li>Train stations 230</li>
        <li>Hospitals 60</li>
        <li>Universites 63</li><br>
        <li>Average Houseprice: 120 000</li>
        <li>Average Rental (HMO): 95</li>
      </ul>
    </div>
  </div>
</div>

<h2>Wards in <%= @district.district %></h2>
  <p>There are <%= @wards.count %> wards in <%= @district.district %>.</p>
<% @wards.each do |ward| %>
<div class="accordion" id="accordionWard">
  <div class="card">
    <div class="card-header" id="headingWard-<%= ward.id %>">
      <h2 class="mb-0">
        <div class="btn-group full-width">
          <div class="row full-width">
            <button class="btn btn-outline-info col-8 text-left" type="button" data-toggle="collapse" data-target="#collapse<%= ward.id %>" aria-expanded="true" aria-controls="collapse<%= ward.id %>">
              <span class="badge badge-info float-left mt-1"><%= ward.ward_code %></span><span class="ml-2"><%= ward.ward %></span>
            </button>


            <%= link_to "Explore", ward, class: "btn btn-main col-4" %>
          </div>
        </div>
      </h2>
    </div>

    <div id="collapse<%= ward.id %>" class="collapse" aria-labelledby="headingWard-<%= ward.id %>" data-parent="#accordionWard">
      <div class="card-body">
        <p><%= ward.ward %> has <%= ward.middle_layer_output_areas.count %> Middle Layer Output Areas. Population in <%= ward.ward %> is: POPULATION. Average rental price for a HMO bedroom is: 88 and average houseprice is: 95 000.</p>
        <div class="card-subtitle border-bottom-dark mt-2">
          Middle Layer Output Areas
        </div>
        <div class="">
          <% ward.middle_layer_output_areas.each do |mloa| %>
              <%= link_to mloa.middle_layer_output_area, middle_layer_output_area_path(mloa.id), class: "badge badge-info" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
<% end %>


