<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render 'devise/registrations/partials/email_pass', f: f %>

  <% if devise_mapping.rememberable? %>
    <div class="form-group form-check">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me, class: "form-check-label" %>
    </div>
  <% end %>

  <div class="btn-group-vertical full-width">
    <%= f.submit "Log in", class: "btn btn-main", 'tab-index': 5 %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
