/* Variables */
$grey-element-color: #acabab;
$red-element-color: #a81c1c;

$button-main-hover-color: rgb(240,210,210);
$button-main-hover-gradient: linear-gradient(90deg, rgba(240,210,210,1) 0%, rgba(207,174,174,1) 100%);

$button-main-action: rgb(43,32,244);
$button-main-action-gradient: linear-gradient(180deg, rgba(43,32,244,1) 14%, rgba(7,0,120,1) 98%);

$background-color-secondary: rgb(2,0,36);
$background-color-secondary-gradient: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(17,15,57,1) 100%);



/* UTILITY CLASSES */
@import './partials/utility.scss';
@import './partials/standards.scss';
@import './partials/buttons.scss';
@import './partials/sidebar.scss';


.border-bottom-dark {
  border-bottom: solid 2px $button-main-action;
}

.no-bullet-points div ul li {
  list-style: none;
}
