<p id="notice"><%= notice %></p>

<h1>Countries</h1>

<% @countries.each do |country| %>
<div class="accordion" id="accordionCountry">
  <div class="card">
    <div class="card-header" id="headingCountry-<%= country.id %>">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%= country.id %>" aria-expanded="true" aria-controls="collapse<%= country.id %>">
          <%= country.country %>
        </button>
      </h2>
    </div>

    <div id="collapse<%=country.id %>" class="collapse" aria-labelledby="headingCountry-<%= country.id %>" data-parent="#accordionCountry">
      <div class="card-body">
        <div class="btn-group full-width">
          <%= link_to "Explore #{country.country}", country_path(country.id), class: "btn btn-main" %>
        </div>
        <div class="card-subtitle border-bottom-dark mt-2">
          Districts
        </div>
          <% country.districts.each do |district| %>
              <%= link_to district.district, district_path(district.id), class: "badge badge-info" %>
          <% end %>

      </div>
    </div>
  </div>
</div>
<% end %>


