<%= link_to 'Back', :back, class: "btn btn-outline-dark full-width mb-4" %>

<div class="jumbotron">
  <h1><%= @districts.first.country.country %></h1>
  <div class="row no-bullet-points">
    <div class="col-6">
      <ul>
        <li>Crime: 15%</li>
        <li>Population: 15 000</li>
        <li>Unemployment: 4.3%</li><br>
        <li>Average IMD: 4367</li>
        <li>Mean IMD: 5500</li><br>
        <li>Average salary: 25 000</li>
        <li>Mean salary: 23 000</li><br>
        <li>Average age: 45</li>
        <li>Mean age: 35</li>
      </ul>
    </div>
    <div class="col-6">
      <ul>
        <li>Train stations 230</li>
        <li>Hospitals 60</li>
        <li>Universites 63</li><br>
        <li>Average Houseprice: 120 000</li>
        <li>Average Rental (HMO): 95</li>
      </ul>
    </div>
  </div>
</div>

<h2>Districts in <%= @districts.first.country.country %></h2>
  <p>There are <%= @districts.count %> districts in <%= @districts.first.country.country %>.</p>
<% @districts.each do |district| %>
<div class="accordion" id="accordionDistrict">
  <div class="card">
    <div class="card-header" id="headingDistrict-<%= district.id %>">
      <h2 class="mb-0">
        <div class="btn-group full-width">
          <div class="row full-width">
          <button class="btn btn-outline-info col-8 text-left" type="button" data-toggle="collapse" data-target="#collapse<%= district.id %>" aria-expanded="true" aria-controls="collapse<%= district.id %>">
            <span class="badge badge-info float-left mt-1"><%= district.district_code %></span><span class="ml-2"><%= district.district %></span>
          </button>


          <%= link_to "Explore", district_path(district.id), class: "btn btn-main col-4" %>
        </div>
        </div>
      </h2>
    </div>

    <div id="collapse<%= district.id %>" class="collapse" aria-labelledby="headingDistrict-<%= district.id %>" data-parent="#accordionDistrict">
      <div class="card-body">
        <p><%= district.district %> has <%= district.wards.count %> wards. Population in <%= district.district %> is: POPULATION. Average rental price for a HMO bedroom is: 88 and average houseprice is: 95 000.</p>
        <div class="card-subtitle border-bottom-dark mt-2">
          Wards
        </div>
        <div class="">
          <% district.wards.each do |ward| %>
              <%= link_to ward.ward, ward_path(ward.id), class: "badge badge-info" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
<% end %>
