<h1>People following <%= current_user.first_name %></h1>

<div>


<% if @followers.count == 0 %>
  User has no followers
<% else %>
  <% @followers.each do |f| %>
    <%= f.id %>

  <% end %>
<% end %>




<div class="mt-5">
  <h2>Find people to follow</h2>
  <%= form_tag follow_followers_path, class: "full-width", method: :get do %>
    <div class="row">
      <div class="col-6">
        <%= text_field_tag 'term', params[:term], placeholder: "Name or email", class: "form-control" %>
      </div>
      <div class="col-6">
        <%= submit_tag 'Search!', class: "btn btn-success full-width" %>
        <!-- remote: true -->
      </div>
    </div>
  <% end %>

  <table class="mt-5 table table-striped table-bordered table-hover full-width">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
        <% if current_user.id != u.id %>
          <tr>
            <th scope="row"><%= u.id %></th>
            <td><%= u.first_name %></td>
            <td><%= u.last_name %></td>
            <td>
              <div class="btn-group">
                <%= link_to "Follow", follow_index_path(person_id: u.id, source: "followers"), method: :post, class: "btn btn-info full-width" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

