<div class="mt-5">
  <h1>People following <%= current_user.first_name %></h1>
  <% if @followers.empty? %>
    <p>No one is following <%= current_user.first_name %> yet.</p>
  <% else %>
    <%= render 'follow/partials/user_table' %>
      <tbody>
        <% @followers.each do |user_row| %>
          <%= render partial: "follow/partials/user_row", locals: { user_row: user_row, follow_table: true } %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="mt-5">
  <h1>People <%= current_user.first_name %> is following</h1>
  <% if @follows.empty? %>
    <p><%= current_user.first_name %> is not following anyone yet.</p>
  <% else %>
    <%= render 'follow/partials/user_table' %>
      <tbody>
        <% @follows.each do |user_row| %>
          <%= render partial: "follow/partials/user_row", locals: { user_row: user_row, follow_table: true } %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="mt-5">
  <h2>Find people to follow</h2>
  <%= form_tag follow_path, class: "full-width", method: :get do %>
    <div class="row">
      <div class="col-6">
        <%= text_field_tag 'term', params[:term], placeholder: "Name or email", class: "form-control" %>
      </div>
      <div class="col-6">
        <%= submit_tag 'Search!', class: "btn btn-success full-width" %>
        <!-- remote: true -->
      </div>
    </div>
  <% end %>

  <%= render 'follow/partials/user_table' %>
    <tbody>
      <% @users.each do |user_row| %>
        <% if current_user.id != user_row.id %>
          <%= render partial: "follow/partials/user_row", locals: { user_row: user_row, follow_table: false } %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

