<%= link_to 'Back', :back, class: "btn btn-outline-dark full-width mb-4" %>

<h1>Wards</h1>

<table class="table">
  <thead>
    <tr>
      <th>Ward</th>
      <th>Ward code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wards.each do |ward| %>
      <tr>
        <td><%= ward.ward %></td>
        <td><%= ward.ward_code %></td>
        <td><%= link_to 'Show', ward, class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


