<%= link_to 'Back', :back, class: "btn btn-outline-dark full-width mb-4" %>

<div class="jumbotron">
  <h1><%= @ward.ward %></h1>
  <div class="row no-bullet-points">
    <div class="col-6">
      <ul>
        <li>Crime: 15%</li>
        <li>Population: 15 000</li>
        <li>Unemployment: 4.3%</li><br>
        <li>Average IMD: 4367</li>
        <li>Mean IMD: 5500</li><br>
        <li>Average salary: 25 000</li>
        <li>Mean salary: 23 000</li><br>
        <li>Average age: 45</li>
        <li>Mean age: 35</li>
      </ul>
    </div>
    <div class="col-6">
      <ul>
        <li>Train stations 230</li>
        <li>Hospitals 60</li>
        <li>Universites 63</li><br>
        <li>Average Houseprice: 120 000</li>
        <li>Average Rental (HMO): 95</li>
      </ul>
    </div>
  </div>
</div>

<h2>Middle Layer Output Areas in <%= @ward.ward %></h2>
  <p>There are <%= @mloas.count %> Middle Layer Output Areas (MLOA) in <%= @ward.ward %>.</p>
<% @mloas.each do |mloa| %>
<div class="accordion" id="accordionMloa">
  <div class="card">
    <div class="card-header" id="headingMloa-<%= mloa.id %>">
      <h2 class="mb-0">
        <div class="btn-group full-width">
          <div class="row full-width">
            <button class="btn btn-outline-info col-8 text-left" type="button" data-toggle="collapse" data-target="#collapse<%= mloa.id %>" aria-expanded="true" aria-controls="collapse<%= mloa.id %>">
              <span class="badge badge-info float-left mt-1"><%= mloa.msoa_code %></span><span class="ml-2"><%= mloa.middle_layer_output_area %></span>
            </button>


            <%= link_to "Explore", mloa, class: "btn btn-main col-4" %>
          </div>
        </div>
      </h2>
    </div>

    <div id="collapse<%= mloa.id %>" class="collapse" aria-labelledby="headingMloa-<%= mloa.id %>" data-parent="#accordionMloa">
      <div class="card-body">
        <p><%= mloa.middle_layer_output_area %> has <%= mloa.lower_layer_output_areas.count %> Lower Layer Output Areas. Population in <%= mloa.middle_layer_output_area %> is: POPULATION. Average rental price for a HMO bedroom is: 88 and average houseprice is: 95 000.</p>
        <div class="card-subtitle border-bottom-dark mt-2">
          Lower Layer Output Areas
        </div>
        <div class="">
          <% mloa.lower_layer_output_areas.each do |lloa| %>
              <%= link_to lloa.lower_layer_output_area, lower_layer_output_area_path(lloa.id), class: "badge badge-info" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
<% end %>
