<%= form_with(model: population, local: true) do |form| %>
  <% if population.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(population.errors.count, "error") %> prohibited this population from being saved:</h2>

      <ul>
        <% population.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ward_id %>
    <%= form.text_field :ward_id %>
  </div>

  <div class="field">
    <%= form.label :poplation_type %>
    <%= form.text_field :poplation_type %>
  </div>

  <div class="field">
    <%= form.label :population %>
    <%= form.text_field :population %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
