<p id="notice"><%= notice %></p>

<h1>Populations</h1>

<table>
  <thead>
    <tr>
      <th>Ward</th>
      <th>Poplation type</th>
      <th>Population</th>
      <th>Year</th>
      <th>Age</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @populations.each do |population| %>
      <tr>
        <td><%= population.ward_id %></td>
        <td><%= population.poplation_type %></td>
        <td><%= population.population %></td>
        <td><%= population.year %></td>
        <td><%= population.age %></td>
        <td><%= population.year %></td>
        <td><%= link_to 'Show', population %></td>
        <td><%= link_to 'Edit', edit_population_path(population) %></td>
        <td><%= link_to 'Destroy', population, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Population', new_population_path %>
