<p id="notice"><%= notice %></p>

<p>
  <strong>Ward:</strong>
  <%= @population.ward_id %>
</p>

<p>
  <strong>Poplation type:</strong>
  <%= @population.poplation_type %>
</p>

<p>
  <strong>Population:</strong>
  <%= @population.population %>
</p>

<p>
  <strong>Year:</strong>
  <%= @population.year %>
</p>

<p>
  <strong>Age:</strong>
  <%= @population.age %>
</p>

<p>
  <strong>Year:</strong>
  <%= @population.year %>
</p>

<%= link_to 'Edit', edit_population_path(@population) %> |
<%= link_to 'Back', populations_path %>
