<div class="form-group">
  <%= f.label :email %>
  <% if controller_name == "sessions" && action_name == "new" %>
    <%= f.email_field :email, autocomplete: "email", class: "form-control", autofocus: true, 'tab-index': 3 %>
  <% else %>
    <%= f.email_field :email, autocomplete: "email", class: "form-control", 'tab-index': 3 %>
  <% end %>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div class="form-group">
  <%= f.label :password %>
  <% if controller_name == "registrations" && action_name == "edit" %> <i>(leave blank if you don't want to change it)</i> <% end %>
  <%= f.password_field :password, autocomplete: "new-password", 'tab-index': 4, class: "form-control" %>
  <% if controller_name == "registrations" && action_name == "new" || controller_name == "registrations" && action_name == "edit" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  <% end %>
</div>
