<%= render "devise/shared/error_messages", resource: resource %>

<div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, autocomplete: "first_name", class: "form-control", 'tab-index': 1, autofocus: true %>
</div>

<div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, autocomplete: "last_name", class: "form-control", 'tab-index': 2 %>
</div>

<%= render 'devise/registrations/partials/email_pass', f: f %>

<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", 'tab-index': 5 %>
</div>
