<nav class="navbar navbar-expand-md navbar-light bg-white pt-5 pb-5">
    <% if !user_signed_in? %>
      <%= link_to "Aviny", root_path, class: "navbar-brand" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-dark"></span>
    </button>

    <div class="collapse navbar-collapse" id="main_menu">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Following", user_path(current_user.id), class: "nav-link text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "Areas", countries_path, class: "nav-link text-dark" %>
          </li>
          <% if current_user.admin? %>
            <%= link_to "Import", new_country_path, class: "nav-link text-dark" %>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up",  new_user_registration_path, class: "nav-link text-dark"%>
          </li>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "nav-link text-dark"%>
          </li>
        <% end %>
      </ul>
<!--
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
-->
    </div>
  </nav>
