  <!-- Sidebar -->
  <nav class="navbar-vertical" role="navigation">
    <ul class="nav flex-column">
      <div class="navbar-brand">
          <%= link_to "#{first_name_welcome_helper}", root_path %>
      </div>
      <div class="navbar-elements navbar-elements-general">
        <% if user_signed_in? %>
          <li class="nav-item"><a class="nav-link navbar-each-element" href="#">Messages<span><i>+10</i><%= svg('messages') %></span></a></li>
          <li class="nav-item"><a class="nav-link navbar-each-element" href="#">Notifications<span><i>5</i><%= svg('notifications') %></span></a></li>
          <li class="nav-item"><a class="nav-link navbar-each-element" href="#">Your properties<span><i>0</i><%= svg('home') %></span></a></li>
          <li class="nav-item">
            <%= link_to countries_path, class: "nav-link navbar-each-element" do %>
              Research <span><%= svg('statistics') %></span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_path(current_user.id), class: "nav-link navbar-each-element" do %>
              Collaborate <span><%= svg('collaboration') %></span>
            <% end %>
         </li>
          <li class="nav-item"><a class="nav-link navbar-each-element" href="#">Financing<span><%= svg('money') %></span></a></li>
          <li class="nav-item"><a class="nav-link navbar-each-element" href="#">Services<span><%= svg('services') %></span></a></li>


          <% if current_user.admin? %>
            <li class="nav-item"><%= link_to "Import", import_path, class: "nav-link navbar-each-element" %></li>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up",  new_user_registration_path, class: "nav-link navbar-each-element" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "nav-link navbar-each-element" %>
          </li>
        <% end %>
      </div>
    </ul>
  </nav>
