<div class="container-fluid bg-dark">
  <div class="row text-light pt-2 pb-2">
    <div class="col-3 pl-5">
      <% if user_signed_in? %>
        <%= link_to "Welcome #{current_user.first_name}", user_path(current_user.id), class: "text-light" %>
      <% else %>
        <%= link_to "Aviny", root_path, class: "text-light" %>
      <% end %>
    </div>
    <div class="col-5">



    </div>
    <div class="col-3 text-right">
      <nav class="nav justify-content-end">
        <% if user_signed_in? %>
          <a class="nav-link btn btn-sm btn-outline-light dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Profile</a>
          <div class="dropdown-menu">
            <div class="btn-group-vertical full-width">
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-light" %>
              <%= link_to "Account info", edit_user_registration_path, class: "btn btn-light" %>
            </div>
          <% else %>
            <a class="nav-link btn btn-sm btn-outline-light dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">contact</a>
          <div class="dropdown-menu">
            <div class="btn-group-vertical">
              <%= link_to "Contact", "#", class: "btn btn-light" %>
              <%= link_to "Support", "#", class: "btn btn-light" %>
            </div>
          <% end %>
        </div>
      </nav>
    </div>
  </div>
</div>
