<%= form_with(model: postcode, local: true) do |form| %>
  <% if postcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(postcode.errors.count, "error") %> prohibited this postcode from being saved:</h2>

      <ul>
        <% postcode.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lower_layer_output_area_id %>
    <%= form.text_field :lower_layer_output_area_id %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.text_field :postcode %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
