<!DOCTYPE html>
<html>
<head>
  <title>Aviny</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Coda+Caption" />
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
</head>
<body>
  <div class="container">
    <div class="row navbar-height">
    <!-- /#sidebar-wrapper -->
      <div class="col-6 col-md-4 pos-rel">
        <div class="navbar-general">
          <%= render "layouts/partials/sidebar" %>
        </div>
      </div>
          <!-- Page Content -->
      <div class="col-6 col-md-8">
        <div class="ml-3 mt-5">

            <% flash.each do |type, msg| %>
              <%= flash_type_helper(type, msg) %>
            <% end %>

            <%= yield %>
        </div>
      </div>
    </div>
  </div>

        <!-- /#page-content-wrapper -->

    <!-- /#wrapper -->
</body>
</html>
